html{
    margin: 0;
    font-family: 'Montez', cursive;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 320px;
    justify-content: center;    
    width: 100%;
  }

.mainContainer {
  position: relative;
  min-width: 450px;
  width: 100%;
  height: 600px;
  background-color: darkgreen;
}
.mainContainer img {
  width: 320px;
  position: absolute;
  bottom: 0;
  left: 30px;
}
.namax {
  margin-top: 30px;
  font-size: 60px;
  color: rgb(32, 32, 59);
  text-shadow: 2px 2px 6px #202020;

}
.parallax {
  /* The image used */
  background-image: url("../assets/pexels-aleksandar-pasaric-325185.png");

  /* Set a specific height */
  min-height: 500px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

<<<<<<< HEAD
  .logo img {
    width: 150px;
  }

  .kartinka {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  background-color: lightcyan;
  box-sizing: border-box;
  padding: 30px;
  border: 5px lightseagreen solid;
  border-radius: 50px;
  box-shadow: inset 0 0 3px #000000;
}
  .kartinka img {
    width: 130px;
  }
  
  
  .mainContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    background-color: lightskyblue;
  }
  .leftSide, .rightSide {
    width: 320px;
    height: 400px;
    box-sizing: border-box;
    margin: 25px;
    background-color: lightyellow;
    border-radius: 15%;
    border: dashed 3px darkorange;
    box-shadow: inset 0 0 10px grey;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
     .leftSide img, .rightSide img {
       width: 170px;
     }

     .leftSide h1 {
       font-size: 2.0em;
     }
    

     .borders {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: hidden  20px yellow;
}

.borders:hover {
  border: double  20px yellow;
}
=======
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttonax {
  width: 220px;
  height: 40px;
  font-size: 20px;
  background-color: cornflowerblue;
  border-radius: 15px;
  box-shadow: gray 2px 3px 6px;
  border: black solid 2px;
}
>>>>>>> 562d1e0753c4076d4345f082dc450293b844485b
